#
# Exclude these files from release archives.
# https://www.reddit.com/r/PHP/comments/2jzp6k/i_dont_need_your_tests_in_my_production
# https://blog.madewithlove.be/post/gitattributes/
#
/.gitattributes          export-ignore
/.markdownlint-cli2.yaml export-ignore
/.remarkrc               export-ignore
/.yamllint.yml           export-ignore
/.github/                export-ignore
/tests/                  export-ignore

#
# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#
* text=auto

#
# The above will handle all files NOT found below
#
*.md text
